.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.n-left{
    flex: 1; /* It will take equal width */
    align-items: center;
    display: flex;
    justify-content: left;
    gap: 2rem;
}
.n-name{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--orange);
}

.n-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    font-weight: 500;
}
.n-list{
    flex: 10;
}
.n-list>ul{
    display: flex;
    gap: 3rem;
    margin-right: 4rem;
    list-style-type: none;
}
.n-list li:hover{
    cursor: pointer;
    scale: 1.3;
    color: var(--orange);
}
.n-btn{
    flex: 2;
}
.btn:hover{
    cursor: pointer;
    scale: 1.1;
    opacity: 0.9;
  }
  @media screen and (max-width: 480px) {
    .n-list{
        display: none;
    }
  }