.works{
    padding: 0.3rem 0.3rem;
    display: flex;
    flex-direction: column;
    height: 130vh;
    margin-top: 4rem;
    gap: 7rem;
}

/* right side */
.w-right{
    display: flex;
    flex-direction: row;
    gap: 24rem;
    position: relative;
}
.w-mainCircle{
    left: 9rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    top: 2rem;
    background: white;
}
.w-mainCircle>*{
    position: absolute;
}
.w-mainCircle>:nth-child(1){
    top: -6rem;
    left: 5rem;
}
.w-mainCircle>:nth-child(2){
    left: -5rem;
    top: 5rem;
}
.w-mainCircle>:nth-child(3){
    left: 5rem;
    top: 5rem;
}
.w-mainCircle>:nth-child(4){
    left: 15rem;
    top: 5rem;
}
.w-secCircle:nth-child(5){
    left: 5rem;
    top: 16rem;
}
.w-secCircle{
    width: 8rem;
    height: 8rem;
    position: absolute;
    border-radius: 100%;
    border: 5px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: var(--smboxShadow);
}
.html{
    transform: scale(0.20);
}
.css{
    transform: scale(0.11);
}
.bootstrap{
    transform: scale(0.35);
}
.js{
    transform: scale(0.25);
}
.react{
    transform: scale(0.25);
}
.mongo{
    transform: scale(0.13);
}
.rest{
    transform: scale(0.13);
}
.bootstrap{
    transform: scale(0.35);
}
.express{
    transform: scale(0.15);
}
.node{
    transform: scale(0.13);
}
.w-backCircle{
    position: absolute;
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    z-index: -1;
}
.blueCircle1{
    background-color: #194988;
    left: 18rem;
    top: 0rem;
}
.yellowCircle1{
    background: #F5C32C;
    left: 18rem;
    top: 8rem;
}
.blueCircle2{
    background-color: #194988;
    left: 60rem;
    top: 0rem;
}
.yellowCircle2{
    background: #F5C32C;
    left: 60rem;
    top: 8rem;
}
.w-tech{
    font-size: 2rem;
    font-weight: 600;
    top: 26rem;
    color: rgb(34, 41, 230);
}
@media screen and (max-width: 480px) {
    .works{
        flex-direction: column;
        height: 75rem;
        padding: 0;
        gap: 1rem;
    }
    .w-right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        transform: scale(0.7);
    }
    .w-mainCircle{
        position: static;
    }
    .w-backCircle{
        left: 9rem !important;
    }
}