.footer{
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    margin-top: -8rem;
    height: 10rem;
    background: rgb(84, 158, 255);
    border-top-left-radius: 7rem;
    border-top-right-radius: 7rem;
}
.f-content{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    color: white;
}
.f-icons{
    display: flex;
    gap: 2rem;
}
.f-icon:hover{
    cursor: pointer;
    transform: scale(1.2);
}