:root
{
  --yellow: #F5C32C;
    --orange : #008DDA;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: #50C4ED;
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

body{
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.App{
    padding: 0.5rem 2rem;
    overflow: hidden;
    color: var(--black);
}
.button{ /* Creating a button which will be used everywhere */
  border-radius: 30px;
  cursor: pointer;
  border: none;
  color: #fff;
  font-size: 15px;
  padding: 10px 15px;
  background: linear-gradient(40deg, rgba(105,97,255,1) 30%, rgba(77,191,255,1) 72%);
  box-shadow: 0px 5px 10px 5px rgb(91, 188, 255);
}
.button:hover{
  scale: 1.1;
  opacity: 0.9;
}
@media screen and (max-width: 480px) {
  .App {
    padding: 1rem 1rem;
  }
}